html {
  background-color: black;
}

form input[type=text], form input[type=password] {
  color: white;
}

#black-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 1000px;
  background-color: #009F99;
}

#ship {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 49%;
  left: 75%;
  border-radius: 1000px;
  background-color: #AD2F00;
}

#outer-bound {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dotted white;
  border-radius: 10000px;
}